---
import { WEBSITE_TITLE } from "@libraries/constants";


export interface Props {
  title: string;
  description: string;
};


var title = Astro.props.title;
if (title) title = `${WEBSITE_TITLE} - ${title}`
else title = WEBSITE_TITLE;


const { description } = Astro.props;
---
<head>
  <!-- General Metadata  -->
  <meta charset="utf-8">
  <meta name="generator" content={Astro.generator}>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,user-scalable=yes">
  <link rel="sitemap" href="/sitemap-index.xml">
  <!-- Web Page Metadata  -->
  <title>{title}</title>
  <meta name="description" content={description}>
  <meta name="author" content="Takagi Tasuku">
  <meta name="color-scheme" content="light dark">
  <!-- Other -->
  <script is:inline>
    var theme = localStorage.getItem("theme") || "auto";
    if (theme == "auto") theme = window.matchMedia
      ("(prefers-color-scheme: dark)").matches ? "dark" : "light";
    if (theme != "dark") document.documentElement
      .setAttribute("data-theme", theme)
  </script>
  <script>
    import { initialize as initializeTheme } from "@libraries/theme";
    initializeTheme(false);
  </script>
  <slot />
</head>