---
import { Page } from "astro";

import { formatDistanceToNow } from "date-fns";

import Layout from "@layouts/Main.astro";

import HashTags from "@components/Page/HashTags.astro";

import { ArticleForEnum, getEnum } from "@libraries/blog";
import { toSnakeCase } from "@libraries/utils";


export const PAGE_SIZE = import.meta.env.PAGE_SIZE || 30;
export async function getStaticPaths({ paginate }) {
  let allArticles = await getEnum();
  return Object.keys(allArticles).map(tag => paginate(allArticles[tag], {
    params: { tag: toSnakeCase(tag) }, props: { tag: tag }, pageSize: PAGE_SIZE
  }));
};


var { tag } = Astro.props;
if (tag == "all") tag = "";
const hashedTag = tag ? `#${tag}` : "";
const page: Page<ArticleForEnum> = Astro.props.page;
---
<script>
  /* 数字入力によるページ切り替え。 */
  document.getElementById("jump").addEventListener("click", e => {
    let raw = prompt("ジャンプ先をどうぞ。");
    if (!raw) return;
    let page = parseInt(raw);
    let max = (e.target as HTMLElement).getAttribute("data-max-page");
    if (isNaN(page) || page > parseInt(max) || page == 0)
      alert(`そのページは範囲外です。0から${max}ページまでが有効です。`)
    else window.location.assign(`./${page}`);
  });
</script>
<Layout
    title={`ブログ ${hashedTag}`}
    description={tag ? `${tag}のタグが付いている記事の一覧ページです。`
      : "tasurenの書いたブログの一覧があります。"}>
  <h1>tasurenのブログ</h1>
  <p>ここには、tasurenが色々まとめた記事があります。</p>
  <details style="cursor: pointer;">
    <summary>タグ一覧</summary>
    {page.data.length ? <HashTags tags={
      page.data[0].ctx.allTags.filter(tag => tag != "all")
    } /> : "まだありません。"}
  </details>
  <p />
  <!-- 列挙 -->
  <h2>
    一覧{page.currentPage == 1 ? "" : `（${page.currentPage}ページ目）`}
    <span class="pc-only">{hashedTag}</span>
  </h2>
  <p class="sp-only neutral">{hashedTag}</p>
  <ul>
    {page.data.map(article =><li>
      <a href={`/blog/${article.id}`}>{article.title}</a>
      <time datetime={article.publishedAt} class="neutral">
        &ensp;{formatDistanceToNow(new Date(article.publishedAt))}前
      </time>
    </li>)}
  </ul>
  <!-- ページ切り替え  -->
  <div class="no-visited-color" style="display: flex; justify-content: space-around;">
    <a href="./1">1</a>
    <a href={page.url.prev}>-</a>
    <button id="jump" data-max-page={page.lastPage}>jump</button>
    <a href={page.url.next}>+</a>
    <a href={`./${page.lastPage}`}>{page.lastPage}</a>
  </div>
</Layout>