---
import Layout from "@layouts/Main.astro";

import { API_KEY, Article, getArticles, getAllArticles } from "@libraries/cms";
import { PAGE_SIZE } from "@libraries/constants";


export const NULL_ARRAY = Object.freeze([]);
export async function getStaticPaths({ paginate }) {
  if (!API_KEY) { return NULL_ARRAY; };
  let allArticles: {[tag: string]: Article[]} = {};
  for await (let articles of getAllArticles(
    "blog", {}
  ))
    for (let article of articles)
      for (let tag of article.tags) {
        if (tag in allArticles) allArticles[tag] = [];
        allArticles[tag].push(article);
      };
  return Object.keys(allArticles).map(tag => paginate(
    allArticles[tag], { params: { tag: tag }, pageSize: PAGE_SIZE}
  ));
}


const { tag } = Astro.params;
const { page } = Astro.props;
---
<Layout
    title={`tasurenのブログ #${tag}`}
    description={`${tag}のタグが付いている記事の一覧ページです。`}>
  <h1>{`記事一覧 #${tag}`}</h1>
  <ul>
    {page.data.map(({ article }) => <li>
      <a href={`/blog/${article.id}`}>{article.title}</a>
    </li>)}
  </ul>
  {page.url.prev ? <a href={page.url.prev}>左</a> : null}
  {page.url.next ? <a href={page.url.next}>右</a> : null}
</Layout>