---
export interface Props {
    title: string;
    description: string;
    keywords?: string[];
    type?: string;
    properties?: string[][];
}

const { title, description, keywords, type, properties } = Astro.props;
---

<head>
  <!-- Website metadata -->
  <meta charset="utf-8">
  <meta name="generator" content={Astro.generator}>
  <link rel="icon" href="/favicon.ico" />
  <link rel="sitemap" href="/sitemap-index.xml">

  <!-- Page metadata -->
  <title>{title}</title>
  <meta name="description" content={description}>
  <meta name="author" content="Takagi Tasuku">
  <meta name="color-scheme" content="light dark">
  {keywords ? <meta name="keywords" content={keywords.join(",")}> : null}
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <meta property="og:title" content={title}>
  <meta property="og:description" content={description}>
  <meta property="og:locale" content="ja_JP">
  <meta property="og:site_name" content="髙木祐来のウェブサイト">
  <meta property="og:type" content={type || "website"}>
  {properties ? properties.map(
    v => <meta property={v[0]} content={v[1]}>
  ) : null}
</head>
