---
import { cl } from "@lib/utils";
import SkillIcons from "./SkillIcons.astro";

interface Props {
    title: string;
    skills: string;
    link: string;
}

const { title, skills, link } = Astro.props;

const FAVICON_BASE =
    "https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL";

function getFaviconUrl(link: string): string {
    return `${FAVICON_BASE}&url=${link}&size=32`;
}
---

<div
    class={cl(
        "px-4 py-2",
        "bg-zinc-950 shadow-md",
        "rounded-lg",
        "md:h-52",
        "flex",
        "flex-col",
        "justify-between"
    )}
>
    <div>
        <h1 class="text-xl font-bold">{title}</h1>
        <div class="text-[14px] text-zinc-400">
            <slot />
        </div>
    </div>

    <div class="text-start mt-2">
        <SkillIcons skills={skills} class="h-[32px]" />

        <a
            href={link}
            target="_blank"
            class="text-zinc-500 text-[14px] block mt-1"
        >
            <img
                class="inline rounded-[2px]"
                src={getFaviconUrl(link)}
                width="18"
                height="18"
                alt=""
            />
            <span class="align-baseline ml-1">{new URL(link).host}</span>
        </a>
    </div>
</div>
