---
import Head from "@components/Foundation/Head.astro";
import { type Props as HeadProps } from "@components/Foundation/Head.astro";
import Body from "@components/Foundation/Body/Self.astro";

import Menu from "@components/Menu.astro";

import "./global.css";


interface Props extends HeadProps {
  frontmatter?: HeadProps
};


let props = Astro.props;
if (props.frontmatter) props = props.frontmatter;
var { title, description, keywords, type, properties } = props;

if (!title) console.warn(
  `タイトルがないページがあります：${Astro.url.pathname}`
);
---
<!DOCTYPE html>
<html lang="ja" data-theme="dark">
  <Head
    title={title} description={description}
    keywords={keywords} type={type}
    properties={properties}>
    <slot name="head" />
  </Head>
  <Body>
    <Menu slot="header" />
    <slot />
  </Body>
</html>
