---
import "@/styles/global.css";
import AccessCounter from "@components/AccessCounter.astro";
import Head, { type Props as HeadProps } from "@components/Head.astro";
import Header from "@components/Header.astro";

interface Props extends HeadProps {
    frontmatter?: HeadProps;
}

let props = Astro.props;
if (Astro.props.frontmatter) props = Astro.props.frontmatter;
const { title, description, keywords, type, properties } = props;

if (!title) console.warn("タイトルがないページがあります。", Astro.self.name);
---

<style is:global>
    ul,
    li {
        margin: 0;
    }
</style>

<html lang="ja">
    <Head
        title={title}
        description={description}
        keywords={keywords}
        type={type}
        properties={properties}
    >
        <slot name="head" />
    </Head>

    <body class="px-4">
        <Header />

        <main class="md:mx-auto md:max-w-[80ch] prose dark:prose-invert">
            <slot />
        </main>

        <footer class="pt-10 pb-5">
            <div class="w-fit mx-auto">
                <AccessCounter class="mb-1 w-full text-center" />

                © 2025 髙木 祐来
            </div>
        </footer>
    </body>
</html>
