---
import Common from "@components/head/Common.astro";
import Page from "@components/head/Page.astro";
import AssetsAndScripts from "@components/head/AssetsAndScripts.astro";
import Body from "@components/body/Index.astro";

import { WEBSITE_TITLE } from "../constants";

import "../styles/global.css";


interface Props {
  // フロントマターのpropsをここで定義します
  title: string; description: string;
  useHljs?: boolean; metadataHtml?: string;
};


var title = Astro.props.title;
if (title) title = `${WEBSITE_TITLE} - ${title}`
else title = WEBSITE_TITLE;


const { description, useHljs = false, metadataHtml = "" } = Astro.props;
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <Common />
    <Page title={title} description={description} />
    <AssetsAndScripts useHljs={useHljs} />
  </head>
  <Body metadataHtml={metadataHtml}><slot /></Body>
</html>