---
import Head from "@components/Head.astro";
import { type Props as HeadProps } from "@components/Head.astro";

interface Props extends HeadProps {
    frontmatter?: HeadProps;
}

let props = Astro.props;
if (Astro.props.frontmatter) props = Astro.props.frontmatter;
const { title, description, keywords, type, properties } = props;

if (!title) console.warn("タイトルがないページがあります。", Astro.self.name);
---

<!DOCTYPE html>
<html lang="ja" data-theme="dark">
  <Head
    title={title}
    description={description}
    keywords={keywords}
    type={type}
    properties={properties}
  >
    <slot name="head" />
  </Head>

  <body>
    <main class="mx-auto my-10" style="max-width: 65ch;">
      <slot />
    </main>
  </body>
</html>

<style>
  li, ul {
    margin-bottom: 1px;
    margin-top: 1px;
  }
</style>
